* {
    font-family: AppleGothic;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    padding: 3em;
    background: linear-gradient(blueviolet,turquoise,red);
}

.post-title {
    border-radius: 25%;
    background-color: whitesmoke;
}

.post-body {

}



a {
    color: #f8f7ec;
}

a:link {
    color: white;
}
a:active {
    color: #f8f7ec;
}
a:hover {
    color: #daa7ee;
}





