<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Index</title>
    <th:block th:include="partials/styles.html :: styles"></th:block>
</head>
<body>
<header th:replace="partials/header.html :: header"></header>
<div th:replace="partials/navbar.html :: navbar"></div>


<ul th:each="ad: ${ads}">
    <li th:text="${ad.getTitle()}"></li>
    <li th:text="${ad.getDescription()}"></li>
</ul>


<div th:replace="partials/footer.html :: footer"></div>
<th:block th:include="partials/scripts.html  :: bootstrap"></th:block>
</body>
</html>