<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- ======== Header ========= -->
<head th:fragment="header">
    <meta charset="UTF-8">
    <th:block th:include="partials/scripts.html  :: bootstrap"></th:block>
    <th:block th:include="partials/styles.html :: styles"></th:block>
</head>
<body>


<!-- ======== Navbar ========= -->
<nav th:fragment="navbar">

        <div class="d-flex h-10 justify-content-between">
            <div class="d-flex h-10 justify-content-around align-items-center">
                <a class="nav-link" th:href="@{/}">
                    <button class="btn btn-hover color-8">Home</button>
                </a>
                <a sec:authorize="!isAuthenticated()" th:href="@{/register}">
                    <button class="btn btn-hover color-8">Register</button>
                </a>
                <a sec:authorize="isAuthenticated()" th:href="@{/posts}">
                    <button class="btn btn-hover color-8">All Posts</button>
                </a>
                <a sec:authorize="isAuthenticated()" th:href="@{/posts/create}">
                    <button class="btn btn-hover color-8">Create Post</button>
                </a>
            </div>
            <div class="d-flex h-10 justify-content-end align-items-center">
                <div class="searchNav" style="font-size:medium">
                    <form th:action="@{/search}" method="post">
                        <div class="d-flex align-items-center b-0">
                            <label for="query"></label>
                            <input class="mx-2 w-3-padding-4" id="query" name="query" placeholder="Find Post" type="text"/>
                            <button class="btn btn-hover color-8" type="submit" value="submit">Search</button>
                        </div>
                    </form>
                </div>
                <a sec:authorize="!isAuthenticated()" th:href="@{/login}">
                    <button class="btn btn-hover color-8">Log-in</button>
                </a>
                <a sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" th:method="post">
                        <button class="btn btn-hover color-8">Logout</button>
                    </form>
                </a>
<!--                <a th:href="@{/about-us}">-->
<!--                    <button class="btn-hover color-8">About Us</button>-->
<!--                </a>-->
            </div>
        </div>
</nav>


<!-- ======== Footer ========= -->
<footer th:fragment="footer" class="footer">
    <div class="container p-0 m-0 w-100 justify-content-evenly">
        <div class="m-0 w-100 d-flex p-0 justify-content-between">
            <div class="d-flex justify-content-center align-items-center p-0 m-0">
                <h6 class="p-0 m-0"><a href="https://github.com/evanwilliamsC137/springblog" class="nav-link p-0 m-0" target="_blank"><i class="fa fa-github fa-lg"></i> Repository</a></h6>
            </div>
            <div class="d-flex justify-content-center align-items-center p-0 m-0">
                <div class="container facebook-800-text p-0 m-0">
                    <h6>For educational purposes only.</h6>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>