<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Register</title>
    <head th:replace="partials/partials.html :: header">
</head>
<body>
<div th:replace="partials/partials.html :: navbar"></div>
<h1>Create an account</h1>
<form th:action="@{/register}" method="POST" th:object="${user}">
    <label for="username">Username</label>
    <input id="username" th:field="*{username}" />

    <label for="email">Email</label>
    <input id="email" th:field="*{email}" />

    <label for="password">Password</label>
    <input id="password" type="password" th:field="*{password}" />

    <input value="Sign me up!" type="submit" />
</form>


<div th:replace="partials/partials.html :: footer"></div>
</body>
</html>